/*body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/

/*.whisker line {*/
.whisker
{
/*  fill: #fff;*/
/*  fill: steelblue;*/
/*  stroke: #000;*/
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.whiskers_hline
{
/*  fill: #fff;*/
/*  fill: steelblue;*/
/*  stroke: #000;*/
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}


/*.median line {*/
.median
{
/*  stroke: #000;*/
/*  stroke: crimson;*/
  stroke: navy;
/*  stroke: blue;*/
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

/*.box rect {*/
.box 
{
/*  fill: #fff;*/
/*  fill: steelblue;*/
    fill: lightsteelblue;
/*  stroke: #000;*/
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

/*circle 
{
  fill: green;
  stroke: black;
  shape-rendering: crispEdges;
}*/

/*this is a psedo-class*/
circle:hover 
{
  fill: orange;
/*  stroke: orange;*/
  stroke: black;
  opacity: 1;
}

.outlier 
{
  opacity: 1;  
/*  fill: magenta;*/
/*  fill: red;*/
  fill: crimson;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.point 
{  
/*  opacity: 0;*/
/*  opacity: 1;  */
/*  fill: green;*/
  fill: lime;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.point_invisible
{  
  opacity: 0;
}

/*.axis path 
{
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis line 
{
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text
{    
    font-size: 10px;
}*/