@import 'main.css';
fieldset {
    border-radius: 25px;
    border: 1px solid #8AC007;
    padding: 10px;
    /*float:left;*/
    /*width: 300px;*/
    /*height: 150px;    */
}
.draggable{
}
.field{
    border-radius:5px;
    border: 1px solid #81C007;
    text-align:center;
    min-width:70px;
    height:30px;
    display:inline-block;
    margin:0px;
}
.fieldPile > div{
    border-radius:5px;
    border: 1px solid #81C007;
    text-align:center;
    min-width:70px;
    height:30px;
    display:inline-block;
    margin:10px;
}
.fieldPile{
    float:left;
    display: inline-block;
}

.axisPile{
    display:inline-block;
    /*margin: 0 0 10px 10px;*/
}
.axisPile > *{
    margin:0 10px;
}
.axisSlot {
    padding:0;
}
input [type="text"]{
    display: inline;
    width: 100px;
}
.ui-draggable-dragging {
      -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
          box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
.hovered{
    background: #aaa;
}
